# compiled output
/dist
/node_modules

# logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.idea
.vscode
*.swp
*.swo

# env files (keep templates, ignore actual secrets)
.env
.env.local
.env.dev
.env.prod

# coverage
/coverage
